.formBox {
    max-width: 1440px;
    background: linear-gradient(to left, #2451C6, #0D50FF );
    display: flex;
    flex-direction: column;
    padding: 32 px 32px 0;
    border-radius: 12px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
    gap: 16px;
    
  }
  .formBox {
    display: flex;
    justify-content: flex-end;
   box-sizing: border-box;
  }

  
  .input {
    max-width: 516px;
    height: 58px;
    margin-bottom: 10px;
    background: transparent;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #282828;
  }
  button.clicks {
    background-color: white;
    color: blue;
    border: 1px solid #282828;
  }
  .dogsImg {
    width: 783px;
    margin: 0 32px;
    display: flex;
    margin-bottom: 0;
  }
.dogsImg img{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
}
 .formPosition {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
   
 }
 .formHeader {
    font-size: 64px;
    color: white;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
 }


 /*Webkit-based browsers (Chrome, Safari, Edge) */
input::-webkit-input-placeholder {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 32px;
}

/* Mozilla Firefox */
input::-moz-placeholder {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 32px;
}


/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 32px;
}


/* Microsoft Edge */
input::-ms-input-placeholder {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 32px;
}


/* Standard syntax */
input::placeholder {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 32px;
}


 @media (max-width: 1400px) {
    .formPosition{
        margin-bottom: 0;
        align-items: flex-end;
       }
 }
@media (max-width: 1200px) {
   .form {
    width: 70%;
   }
   .formPosition{
    margin-bottom: 0;
    align-items: flex-end;
   }
}
@media (max-width: 992px) {
   .formPosition {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .form {
    justify-content: center;
    align-items: center;
   }
   .formHeader {
    font-size: 44px;
   }
   .dogsImg img{
    width: 600px;
    margin: 0 auto;
   }
}

@media (max-width: 768px) {
    .formHeader {
        font-size: 2em;
       }
       .dogsImg img {
        width: 400px;
        align-items: center;
        margin: 0 auto;
       }
       input::placeholder {
        font-size: 16px;
       }
      
}

@media (max-width: 576px) {
   .form {
    width: 330px;
   }
   .formBox {
   justify-content: center;
   margin: 0 10px;
   }
   .dogsImg img{
    max-width: 350px;
    overflow-x: hidden;
   }
   input {
    width: 282px;
    height: 20px;
    margin: 0px auto;
   }

  }
