.productDetailsBox {
	max-width: 1440px;
	margin: 40px auto;
}

.productDetails {
	width: 100%;
	display: flex;
	margin: 0 auto;
	padding: 0 80px;
	height: auto;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 82px;
}

.productImageContainer {
	width: 780px;
	display: flex;
	justify-content: center;
	height: auto;
}

.productImageContainer img {
	display: flex;
}

.productDetailsTitle {
	color: #282828;
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	max-width: 90%;
}

.descriptionTitle {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 32px;
	color: #282828;
}

.productImage {
	height: auto;
	width: 500px;
}

.details {
	max-height: 580px;
	width: 580px;
	padding-top: 5px;
	border-radius: 12px;
}

.productInfo {
	display: flex;
  flex-direction: column;
	gap: 32px;
	max-width: 574px;
	padding-left: 20px;
	max-height: 750px;
}

.price {
	display: flex;
	align-items: center;
	max-height: 70px;
}

.productPrice {
	color: #333;
	font-size: 64px;
	font-weight: bold;
}

.discountedPrice {
	color: #282828;
	font-weight: bold;
	margin-right: 10px;
}

.originalPrice {
	text-decoration: line-through;
	font-size: 40px;
	font-weight: 600;
	color: #8b8b8b;
	padding-top: 20px;
}

.productCounter {
	display: flex;
	align-items: center;
	padding: 0;
}

.counterLeft,
.counterRight {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 58px;
	height: 58px;
	background-color: white;
	padding: 0;
	margin: 0;
	color: #8b8b8b;
	font-size: 60px;
	font-weight: 300;
	border: 1px solid #8b8b8b;
	cursor: pointer;
}

.counterLeft {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.counterRight {
	font-size: 40px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-right: 40px;
}

.counterValue {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 40px;
	width: 96px;
	height: 58px;
	background-color: white;
	color: #282828;
	font-size: 16px;
	border: 1px solid #8b8b8b;
}

.infoDescription {
	max-height: 600px;

}

.infoDescription h3 {
	font-size: 20px;
	margin: 10px 20px;
	font-weight: 600;

}

.infoDescriptionText {
	font-size: 16px;
	margin: 0 20px;
	font-weight: 400;
	line-height: 20.8px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	transition: max-height 0.3s ease;
}

.infoDescriptionText.collapsed {
	-webkit-line-clamp: 4;
	max-height: 83.2px;
}

.infoDescriptionText.expanded {
	-webkit-line-clamp: unset;
	max-height: none;
	overflow: visible;
}

.infoDescription button {
	margin: 20px 20px;
	padding: 0;
	background: none;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: var(--color-dark);
	text-decoration: underline;
	cursor: pointer;
}

.infoDescription button:hover {
	color: var(--color-blue);
}

.readMoreButton {
	margin-top: 10px;
	background: none;
	color: #282828;
	text-decoration: underline;
	text-align: left;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.readMoreButton:hover {
	background: transparent;
	color: #0D50FF;
}

.Badge {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	width: 63px;
	height: 34px;
	background-color: #007bff;
	color: #fff;
	border-radius: 6px;
	font-size: 20px;
	font-weight: 500;
	animation: blink 1s infinite;
}

body.dark-mode .productDetailsTitle {
	color: #ddd;
}

body.dark-mode .discountedPrice {
	color: #ddd;
}

body.dark-mode .infoDescription {
	color: #8b8b8b;
}

body.dark-mode .descriptionTitle {
	color: #8b8b8b;
}

body.dark-mode .readMoreButton {
	color: #8b8b8b;
}

@media (max-width: 1240px) {
	.productImageContainer img {
		width: 400px;
		height: 450px;
	}

	.productDetailsTitle {
		font-size: 30px;
	}

	.productPrice {
		font-size: 45px;
	}
}

@media (max-width: 992px) {
	.productDetails {
		flex-direction: column;
		height: auto;
	}

	.productInfo {
		justify-content: center;
		align-items: center;
  	margin: 0 auto;
		padding: 20px 0;
	}
}

@media (max-width: 768px) {
	.productImageContainer {
		max-width: 360px;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.productImageContainer img {
		max-width: 350px;
	}

	.productDetails {
		padding: 0;
	}
}

@media (max-width: 576px) {
	.productImageContainer {
		max-width: 360px;
		max-height: 400px;
		justify-content: center;
		align-items: center;
		margin-bottom: 70px;
	}

	.productPrice {
		font-size: 30px;
    flex-direction: column;
	}

	.productImageContainer img {
		max-width: 250px;
		max-height: 280px;
		border-radius: 14px;
		justify-content: center;
		align-items: center;
	}

	.counterLeft,
	.counterRight {
		max-width: 25px;
		max-height: 50px;
		font-size: 24px;
	}

	.counterValue {
		max-width: 55px;
		max-height: 50px;
		text-align: center;
		font-size: 20px;
		padding: 20px;
	}

	.modalFooter {
		flex-direction: column;
	}

	.infoDescriptionText.expanded {
		font-size: 12px;

	}

	.productDetailsTitle {
		font-size: 20px;
		max-width: 250px;
	}

	.Badge {
		margin: 20px 0;
	}

	.productCounter {
		margin: 0;
	}
}