@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease;
}
.App{
  margin: 0 auto;
overflow-x: hidden; 
  box-sizing: border-box;
}
:root {
  --header-link-color: #000; 
  --header-background-color: #fff;
}

body.dark-mode {
  --header-link-color: #808181;
  --header-background-color: #302F2F;
}

body.light-mode {
  
  --header-link-color: #282828;
  --header-background-color: #ffffff;
}

 

@media (max-width: 992px) {
   .App{
    width: 100%;
   }
}
